body{
	margin: 0;
	padding: 0;
	background-image: url(../img/background.jpg);
	background-repeat: repeat;
}
/*Back to the top Button*/
#scrollToTop{
	position: fixed;
	right: 10px;
	bottom: 50px;
	opacity: 0.4;
}
/*Containter Code*/
#headerContainer{
	width: 1000px;
	height: auto;
	margin: 0 auto;
	background: white;
	padding: 11px;
	border-radius: 4px;
}


/*Header CSS*/
#header{
	height: auto;
	width: 100%;
	background: #ccc;
	background: white;
	overflow: auto;
	border-radius: 2px;
	border-bottom: 3px solid #151A2E;
}
#headerLogo{
	width: 30%;
	height: auto;
	min-height: 80px;
	float: left;
	background: transparent;
	margin: 20px;
}
#headerLogo img{
	line-height: normal;
	vertical-align: top;
}
#headerIcons{
	width: auto;
	height: auto;
	float: right;
	background: transparent;
	min-height: 80px;
	padding: 20px;
}

#headericons ul{
	display: inline;
	float: right;
	position: relative;
}
#headerIcons ul li{
	display: inline;
	float: left;
	margin: 0 15px;
}
#headerIcons ul li a img{
	background: transparent;
	vertical-align: top;
	width: 48px;
	height: 48px;
}
#kcSearch{
	width: 100%;
	height: auto;
	min-height: 80px;
	background: green;
	display: none;
}

/*Slider Container*/
#sliderContainer{
	width: 1000px;
	height: auto;
	min-height: 3000px;
	margin: 15px auto;
	background: white;
	padding: 5px 11px 15px;
	border-radius: 4px;
}