body{
	margin: 0;
	padding: 0;
	background-image: url(../img/background.jpg);
	background-repeat: repeat;
}
/*Back to the top Button*/
#bttt{
	position: fixed;
	right: 10px;
	bottom: 50px;
	opacity: 0.3;
}
/*Containter Code*/
#container{
	width: 1000px;
	height: auto;
	margin: 0 auto;
	min-height: 3000px;
	background: white;
	padding: 11px;
}


/*Header CSS*/
#header{
	height: auto;
	width: 100%;
	background: green;
}
#headerLogo{
	width: 30%;
	height: auto;
	min-height: 80px;
	float: left;
	background: blue;
}
#headerLogo img{
	line-height: normal;
	vertical-align: top;
}
#headerIcons{
	width: 70%;
	height: auto;
	float: right;
	background: black;
	min-height: 80px;
}
#headericons ul{
	display: inline;
	float: right;
}
#headerIcons ul li{
	display: inline;
	float: left;
}
#headerIcons ul li a img{
	background: red;
	vertical-align: top;
	width: 64px;
	height: 64px;
}