body{
	margin: 0;
	padding: 0;
	background-image: url(../img/core/background.png);
	background-repeat: repeat;
}

/*Back to the top Button*/
#scrollToTop{
	position: fixed;
	right: 10px;
	bottom: 50px;
	opacity: 0.4;
}

/*Header Container*/
#headerContainer{
	width: 1000px;
	height: auto;
	margin: 0 auto 0 auto;
	background: #fff;
	padding: 0 11px;
	border-radius: 4px;
}


/*Header CSS*/
#header{
	height: auto;
	width: 100%;
	background: #fff;
	overflow: auto;
	border-radius: 2px;
	border-bottom: 3px solid #4D5B71;
}
#headerLogo{
	width: 30%;
	height: auto;
	float: left;
	background: transparent;
	margin: 20px;
}
#headerLogo img{
	line-height: normal;
	vertical-align: top;
}
#headerIcons{
	width: auto;
	height: auto;
	float: right;
	background: transparent;
	min-height: 80px;
	padding: 20px;
}

#headericons ul{
	display: inline;
	float: right;
	position: relative;
}
#headerIcons ul li{
	display: inline;
	float: left;
	margin: 0 7px;
}
#headerIcons ul li a img{
	background: transparent;
	vertical-align: top;
	width: 64px;
	height: 64px;
}

/*Search Bar*/
#kcSearch{
	width: 100%;
	height: auto;
	min-height: 40px;
	background: blue;
	display: none;
}

/*Slider Container*/
#sliderContainer{
	width: 1000px;
	height: auto;
	margin: 14px auto 0;
	background: #fff;
	padding: 5px 11px 15px;
	//padding: 6px 5;
	border-radius: 4px;
}

/*Wiki Page Container*/
#wikiContainer{
	width: 100px;
	height: auto;
	margin: 14px auto 0 auto;
	background: #fff;
	padding: 5px 11px 15px;
	border-radius: 4px;
}

/*SPRibbon*/
#SPRibbon{
	width: 100%;
	height: 100px;
	background: blue;
	position: relative;
}